# Salin file ini menjadi .env.local dan sesuaikan nilainya
# cp .env.example .env.local

# URL server backend (local dev)
NEXT_PUBLIC_API_URL=http://localhost:3000

# Contoh untuk production:
# NEXT_PUBLIC_API_URL=https://api.tanilog.com
